.ls {
  background: #001030;
  color: white;
  height: 80vh;
  overflow-y: hidden;
}
.ls-top {
  padding: 20px;
}
.ls-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ls-nav .logo {
  max-width: 140px;
}
.ls-nav .menu1 {
  max-height: 20px;
  opacity: 0.6;
  cursor: pointer;
}
.ls-search {
  background-color: #002670;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  margin-top: 20px;
}
.ls-search img {
  width: 16px;
}
.ls-search input {
  background: transparent;
  border: none;
  color: white;
  outline: none;
  font-size: 11px;
}
.ls-search input::placeholder {
  color: #c8c8c8;
}
.ls-list {
  display: flex;
  flex-direction: column;
  height: 70%;
  overflow-y: scroll;
}
.friends img {
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}
.friends span {
  color: #9f9f9f;
  font-size: 11px;
}
.friends div {
  display: flex;
  flex-direction: column;
}

.friends {
  display: flex;
  align-items: flex;
  gap: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 13px;
}

.friends:hover {
  background-color: #077eff;
}
.friends:hover span {
  color: white;
}

.ls-nav .menu2 {
  position: relative;
  padding: 10px 0px;
}
.menu2 .sub-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 130px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  color: black;
  display: none;
}
.sub-menu hr {
  border: none;
  height: 1px;
  background: #a4a4a4;
  margin: 8px 0px;
}
.sub-menu p {
  cursor: pointer;
  font-size: 14px;
}
.menu2:hover .sub-menu {
  display: block;
} /* this edit block shown when hover that 3 dots*/

.friends.border img {
  border: 3px solid #07fff3;
}
.friends.border div span {
  color: #07fff3;
  margin: 0;
}
.friends div p {
  margin-bottom: 0;
}
@media (max-width: 900px) {
  .ls {
    width: 100%;
    justify-content: center;
  }
}
